.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    margin: 20px auto;
    padding: 20px 0px;
}

.container ul {
    padding: 0px;
    margin: 0px;
}
  
.container ul li {
    list-style: none;
    float: left;
    width: 22%;
    height: 400px;
    background-color: white;
    margin: 40px 30px 20px 10px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 1px solid black;
}
.container ul li :hover {
    opacity: 0.9;
}
.container ul li .title :hover {
    opacity: 0.5;
    color: red;
    background: red;
}
.container ul li .title {
    width: 100%;
    height: 10%;
    line-height: 40px;
    background-color: white;
    text-align: center;
    border-radius: 38px;
    font-size: large;
}

@media screen and (max-width:1250px) {
    .container ul li {
        width: 40%;
        margin: 40px;
    }
 
}
@media screen and (max-width:750px) {
    .container ul li {
        width: 40%;
        margin: 40px;
    }
    .container ul li {
        float: none;
        width: 90%;
        margin: 40px auto;
    }
 
}
